/*******************************\
    #MAIN PAGE FOOTER SECTION
\*******************************/
.footer-row {
  margin-left: -17px!important;
  .col-md-12 {
    padding: 0;
  }
}

@media only screen and (min-width: 468px)and (max-width: 990px) {
  .footer-row {
    width: 768px;
    margin-left: -17px!important;
  }
}

footer {
  height: 300px;
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: relative;
  margin-bottom: 69px;

  .pills {
    margin-left: 40px;
    height: 270px;
    a.click-here {
      left: auto;
      right: 125px;
      top: 100px;
    }
  }

  .thirty-days-promo {
    position: absolute;
    left: 342px;
    top: 37px;
  }

  .try-it-free {
    position: absolute;
    right: 95px;
    top: 27px;
  }

  .socials {
    position: absolute;
    height: 150px;
    margin-top: -55px;
    left: -7px;
    ul {
      padding-left: 0;
      padding-top: 50px;
      width: 100%;
      list-style: none;
      margin-left: 120px;
      li {
        padding-right: 10px;
        display: inline-block;
        text-align: center;
        color:  #97a2ad;
        font-size: 13px;
        i {
          width: 74px;
          height: 76px;
          display: block;
          &.inst {
              background: url("../images/instagram.png");
            }
          &.fb {
            background: url("../images/fb.png");
          }
          &.tw {
            background: url("../images/twitter.png");
          }
          &.pin {
             background: url("../images/pinterest.png");
           }
          &.g {
            background: url("../images/google+.png");
          }
          &.blog {
            background: url("../images/chat.png");
          }
          &.contact {
            background: url("../images/email.png");
          }
        }
        a {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
}

.footer-hr {
  margin-bottom: 6px;
}

.copyright {
  margin-left: 0px!important;
  position: relative;
  height: 120px;
  .logo {
    width: 146px;
    height: 49px;
    margin-left: 13px;
    margin-right: 20px;
  }

  .copy-text {
    font-family: 'Myriad Pro';
    color:  #97a2ad;
    font-size: 12px;
    position: relative;
    top: 5px;
    letter-spacing: -0.2px;
  }

  a,span {
    font-family: 'Myriad Pro';
    color:  #97a2ad;
    font-size: 12px;
    position: relative;
    top: 5px;
  }

  .copy-terms {
    margin: 0 13px 0 25px;
    letter-spacing: -1px;
  }

  .copy-privacy {
    margin: 0 10px 0;
    letter-spacing: -1px;
  }
  .copy-contact {
    margin: 0 10px 0;
    letter-spacing: -1px;
  }

  .made-with-love {
    font-family: 'Myriad Pro';
    color:  #97a2ad;
    font-size: 12px;
    margin-top: 20px;
    margin-right: 80px;
  }

  .assure {
    position: absolute;
    right: 78px;
    top: 49px;
  }
}

@media only screen and (min-width: 468px)and (max-width: 768px) and (orientation: portrait) {
  .copyright .assure {
    position: absolute;
    right: 25px;
    top: 100px;
  }

  .copyright .made-with-love {
    margin-right: 30px;
  }

  footer .socials {
    left: -15px;
  }

  footer .socials ul {
    margin-left: 75px;
  }

  footer .pills {
    margin-left: -10px;
  }

  footer .pills a.click-here {
    right: 50px;
    top: 106px;
  }

  footer .thirty-days-promo {
    left: 260px;
  }

  footer .try-it-free {
    right: 35px;
    width: 280px;
  }

}