.step3 {
  position: relative;
  height: 1300px;
  padding: 11px 0 0 23px;
}

.step3-header {
  font-weight: bold;
}

.step3-confirm {
  color: #a4adb7;
  font-family: AllerLight;
  margin-top: 0;
  font-size: 22px;
  b {
    font-family: Aller;
  }
}

.step3-starter {
  margin-bottom: 0;
  color: #a4adb7;
  font-size: 28px;
}

.step3-starter-amount {
  margin: 0;
  font-size: 28px;
}

.step3-start {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  text-transform: uppercase;
}

.step3-clickHere {
  top: 246px;
  left: 111px;
  width: 237px;
  height: 74px;
  padding: 23px 50px 25px 60px;
  background-image: url("../images/checkout/step3/click-here.png");
  background-size: cover;
  color: #fff;
  font-size: 23px;
  position: absolute;
}

.step3-ebook {
  margin-top: 25px;
}


.step3-welcomeBox {
  height: 920px;
  margin-top: 30px;
  border-radius: 20px;
  border: 5px solid #00baff;
  margin-left: -10px;
  max-width: 940px;
  background-image: url("../images/checkout/step3/kristin-pic.png");
  background-repeat: no-repeat;
  background-position: 0 135px;
  color: #878686;
  font-size: 12px;

  .community-features {
    border: none;
    margin-left: 5px;
    img {
      width: 180px;
    }

    .community-feature-button {
      margin-left: 34px;
      &.meal {
        margin-left: 42px;
      }
    }

    .community-feature-header {
      margin-left: -12px;
    }
  }
}

.step3-welcomeImg {
  margin-left: 50px;
}

.username {
  font-weight: normal;
}

@media only screen and (min-width: 481px)and (max-width: 990px) {
  .step3-welcomeImg {
    width: 175px;
  }

  .step3 {
    padding: 0px 5px 0 5px;
    height: 1310px;
  }
  .step3-welcomeBox {
    background-position:-35px 135px;
    height: 910px;
  }

  .step3-welcomeBox .community-features img {
    width: 137px;
    margin-bottom: 20px;
  }

  .step3-welcomeBox .community-features .community-feature-header {
    font-size: 16px;
    margin-left: -20px;
  }

  .step3-welcomeBox .community-features .community-feature-button {
    margin-left: 10px;
    margin-top: 10px;
  }

  .step3-welcomeBox .community-features .community-feature-button.meal {
    margin-left: 20px;
  }

  .step3-welcomeBox .community-feature-descr {
   display: none;
  }

  .step3-header {
    font-size: 23px;
  }

  .step3-starter {
   font-size: 23px;
  }

  .step3-start {
    font-size: 19px;
    margin-top: 30px;
  }

  .step3-clickHere {
    left: 57px;
  }
}

@media only screen and (min-width: 320px)and (max-width: 480px) {

  .step3 {
    padding: 11px 0 0;
  }

  .step3_left {
    margin-top: 310px;
  }

  .step3_right {
    margin-top: -580px;
  }

  .step3-ebook {
    margin-left: 15px;
    margin-top: 90px;
  }

  .step3-header {
    font-size: 20px;
    text-align: center;
  }

  .step3-starter {
    font-size: 20px;
  }

  .step3-start {
    font-size: 17px;
    text-align: center;
  }

  .step3-clickHere {
    top: 200px;
    left: 50%;
    margin-left: -118px;
  }

  .step3-welcomeImg {
    position: relative;
    left: 50%;
    margin-left: -121px;
  }

  .step3-welcomeBox {
    margin-left: 0;
    margin-top: 130px;
    border: none;
    background-image: none;
    width: 100%;
    p, h5 {

    }

    .right {
      padding: 0 20px;
    }

    .community-features {
      margin-left: -5px;

      .community-feature {
        &:nth-child(3), &:nth-child(4){
          margin-top: 30px;
        }
      }

      img {
        width: 130px;
        margin-left: -5px;
      }

      .community-feature-header {
        margin-left: 0;
      }

      .community-feature-descr {
        display: none;
      }

      .community-feature-button {
        padding: 7px 10px;
        margin-left: -20px;
        position: relative;
        left: 8px;
        top: 10px;

        &.meal {
          margin-left: -16px;
        }
      }
    }
  }
}