/*******************************\
        #CONTACT PAGE
\*******************************/

.contact-header {
  font-weight: bold;
  width: 190px;
  display: inline-block;
}

.contact-icon {
  margin-top: -10px;
  margin-left: 10px;
}

.contact-subheader {
  color: #ababab;
  margin-top: 0;
  position: relative;
  &:after {
    content: '';
    width: 87px;
    height: 1px;
    position: absolute;
    background-color: #dfdfdf;
    bottom: -19px;
    left: 0;
  }
}

.contact-text {
  margin-top: 30px;
  line-height: 20px;
  font-family: AllerLight;
}

.contact-method {
  font-size: 13px;
  font-family: AllerLight;
  color: #ababab;
  margin-top: 20px;

  .email-form {
    margin-top: 15px;
  }

  .email-form-submit {
    border-radius: 2px;
    background-color: #2da5da;
    width: 159px;
    height: 46px;
    border: none;
    color: #fff;
    background-image: url("../images/contact-page/envelope.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    margin:10px 0 40px 0;
  }
}

.contact-method-header {
  max-width: 100px;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  &:after {
    content: '';
    width: 110px;
    height: 1px;
    position: absolute;
    background-color: #dfdfdf;
    bottom: -19px;
    left: 0;
  }
}


input {
  width: 280px;
  display: block;
  background-color: #eff0f1;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  box-sizing: border-box;
  &:focus {
    outline: 3px solid #27c4ff;
  }
}

textarea {
  max-width: 280px;
  width: 280px;
  max-height: 400px;
  background-color: #eff0f1;
  border: none;
  padding: 8px 12px;
  font-family: Aller;
  box-sizing: border-box;
  resize: none;
  &:focus {
    outline: 3px solid #27c4ff;
  }
}

@media only screen and (min-width: 468px)and (max-width: 990px) {
  .contact-method {
    &.chat {
      position: absolute;
      top: 415px;
    }
  }
}
