/*******************************\
        #SIGNUP PAGE
\*******************************/

.signup-header {
  font-weight: bold;
}

.signup-subheader {
  color: #ababab;
  position: relative;
  opacity: .8;
  &:after {
    content: '';
    width: 87px;
    height: 1px;
    position: absolute;
    background-color: #dfdfdf;
    bottom: -19px;
    left: 0;
  }
}

.signup-content {
  .contact-method.email input {
    width: 260px;
  }
}
.email-form-submit {


  &.blue {
    background-color: #00baff;
    background-image: url("../images/check.png");
    margin:10px 0 40px 50px;
  }
}

@media only screen and (min-width: 320px)and (max-width: 480px) {
  .contact-method {
    margin-top: 40px;
  }

  .signup-content .contact-method.email input {
    width: 100%;
  }

  .contact-method .email-form-submit {
    position: relative;
    left: 50%;
    margin-left: -80px;
  }

  .signup-content {
    padding-left: 9px;
  }

  .signup-header {
    font-size: 30px;
  }
}