/*******************************\
        #SIGNUP PAGE
\*******************************/

.signup-header {
  font-weight: bold;
}

.signup-subheader {
  color: #ababab;
  position: relative;
  opacity: .8;
  &:after {
    content: '';
    width: 87px;
    height: 1px;
    position: absolute;
    background-color: #dfdfdf;
    bottom: -19px;
    left: 0;
  }
}

.signup-content {
  .contact-method.email input {
    width: 260px;
  }
}
.email-form-submit {


  &.blue {
    background-color: #00baff;
    background-image: url("../images/check.png");
    margin:10px 0 40px 50px;
  }
}