/*******************************\
        #SUCCESS PAGE
\*******************************/

.success-page-content {
  position: relative;
  padding-top: 5px;
}

.success-page-header {
  color: #ababab;
  font-family: AllerLight;
  font-size: 46px;

}

.success-page-subheader {
  color: #ababab;
  font-family: AllerLight;
  &:after {
    content: '';
    width: 135px;
    height: 1px;
    position: absolute;
    background-color: #dfdfdf;
    bottom: -19px;
    left: 15px;
  }
}

.transformations-img {
  position: absolute;
  top: 5px;
  left: 142px;
}

.success-page-text {
  color:  #626262;
  font-size: 13px;
  line-height: 20px;
  opacity: .8;
  width: 475px;
}

.success-page-main {
  margin-top: 40px;
}

.story-author {
  width: 477px;
  height: 180px;
  border-radius: 10px;
  background: -webkit-linear-gradient(90deg, #f1f1f1 0%, #ffffff 100%);
  background: -moz-linear-gradient(90deg, #f1f1f1 0%, #ffffff 100%);
  background: -o-linear-gradient(90deg, #f1f1f1 0%, #ffffff 100%);
  background: -ms-linear-gradient(90deg, #f1f1f1 0%, #ffffff 100%);
  background: linear-gradient(0deg, #f1f1f1 0%, #ffffff 100%);
  box-shadow: 1px 2px 3px 0.00px rgba(35, 32, 33, 0.25);
  border: 1px solid #dcdcdc;

  padding: 20px 30px;
  margin: 10px 0 20px;
}

.author-name {
  margin-top: 0;
  color: #ffa800;
  font-weight: bold;
}

.quote-text {
  font-size: 25px;
  font-weight: 300;
  font-family: AllerItalic;
  color: #616161;
  margin-left: 35px;
  margin-top: 15px;
  position: relative;
  line-height: 33px;
  &:before {
    content: '';
    width: 36px;
    height: 27px;
    position: absolute;
    top: 0;
    left: -40px;
    background: url("../images/sign-big.png");

  }
  &:after {
    content: '';
    width: 36px;
    height: 27px;
    position: absolute;
    right: 0;
    background: url("../images/sign-big.png");
    transform: rotate(180deg);
  }

}

.quote-img {
  max-width: 470px;
  height: 350px;
  margin-left: 10px;
}

.photo {
height: 760px;
}

.kristin-big {
  position: absolute;
  top: -250px;
  left: 59px;
}

.janette-big {
  margin-left: -20px;
  margin-top: 20px;
}

.laurene {
  margin-top: 40px;

  .photo {
    height: 940px;
  }
  .quote-text {
    &:after {
      right: 290px;
    }
  }
}

.jeanette {
  .quote-text {
    &:after {
      right: 200px;
    }
  }
}

.laurene-big {
  margin-left: 20px;
}

@media only screen and (min-width: 468px)and (max-width: 990px) {
  .success-page-text {
    width: 100%;
  }

  .story-author {
    width: 377px;
    padding: 20px 20px;
  }
  .quote-text {
    font-family: AllerLight;
    font-style: italic;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 15px;
    &:before, &:after {
      width: 30px;
      height: 21px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    &:before {
      left: -30px;
    }
    &:after {
      right: -12px;
    }
  }
  .kristin-big {
    width: 330px;
    left: 10px;
  }
  .jeanette {
    .quote-img {
      margin-left: -50px;
    }
    .quote-text {
      font-size: 20px;
      margin-top: 20px;
      &:after {
        right: 175px;
      }
    }
  }

  .janette-big {
    position: absolute;
    left: -10px;
    width: 320px;
  }

  .laurene {
    .quote-text {
      font-size: 21px;
      margin-top: 20px;
      &:after {
        right: 245px;
      }
    }
  }
  .laurene-big {
    width: 330px;
    position: absolute;
    left: -15px;
  }
}